@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.main-div {
  width: 229px;
  height: 25px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.click-count {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
