@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.check-div
{
    margin:30px
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #bbbfca;
  border-radius: 10px;
  background: #ffffff;
  width: fit-content;
  padding: 20px;
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
